.header-container {
  box-shadow: None !important;
}

.nav-item {
  color: #ffffff;
  flex-grow: 1;
  text-align: center;
}

.nav-item:hover {
  transform: scale(1.2);
  color: rgb(133, 255, 133);
  cursor: pointer;
  transition: all ease 0.1s;
}

.nav-space-between {
  flex-grow: 3;
}

.header-primary-toolbar {
  justify-content: space-around;
  background: rgb(165, 41, 41, 0.9);
}

.header-secondary-toolbar {
  justify-content: flex-end;
}

.sub-nav-item {
  color: white;
  transform: translate(-50px, 0%);
}
