.header-container {
  box-shadow: None !important;
}

.nav-item {
  color: #ffffff;
  flex-grow: 1;
  text-align: center;
}

.scroll-nav-item {
  color: #015005;
}

.nav-item:hover {
  transform: scale(1.05);
  color: #7FCD46;
  cursor: pointer;
  transition: all ease 0.1s;
}

.nav-space-between {
  flex-grow: 3;
}

.header-primary-toolbar {
  justify-content: space-around;
}

.header-secondary-toolbar {
  justify-content: flex-end;
  min-height: 5px !important;
}

.sub-nav-item {
  color: white;
  transform: translate(-50px, 0%);
}
