.description-section {
  min-height: 200px;
}

.description-container {
  margin: 8% !important;
  text-align: center;
}

.home-container {
  position: relative;
  margin-top: -5%;
  z-index: 20;
}

.service-title {
  margin-bottom: 5% !important;
}

.services-container {
  text-align: center;
}