.NewsCard {
  &-container {
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    & h5 {
      margin: 15px 0px;
      color: #425066;    
    }

    & p {
      margin: 5px;
      color: #616161;
    }
  }
}